{% extends 'base.html.twig' %}
{% block title %}نرم افزار حسابداری آنلاین،متن‌باز و کاملا رایگان
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-12 my-3">
				<div class="p-1 mb-4 bg-body-primary rounded-3">
					<div class="container-fluid py-5">
						<div class="row align-items-center">
							<div class="col-sm-12 col-md-7 mb-3 text-center">
								<h1 class="fs-2 fw-bold text-primary">شروعی ساده و آسان
									<br>
									برای مدیریت کسب‌و‌کار شما
								</h1>
								<p class="fs-6">حسابیکس پلتفرم حسابداری ابری،متن‌باز و واقعا رایگان</p>
								<a class="btn rounded-4 btn-primary" href="https://app.hesabix.ir" target="_blank">هم‌اکنون عضو شوید</a>

							</div>
							<div class="col-sm-12 col-md-5 mb-3">
								<img src="{{asset('img/viewWindows.png')}}" class="img-fluid" alt="نرم افزار حسابداری حسابیکس"/>
							</div>
						</div>
						<div class="row">
							<div class="col-12">
								<div class="card text-bg-light mb-3">
									<div class="card-body text-center">
										<p class="card-text">
                                        حسابیکس یک پلتفرم مدیریت کسب‌و‌کار که پاسخگوی تمام اهداف تجاری شما از یک فروشگاه کوچک تا یک مجتمع بازگانی بزرگ است
                                        <br>
                                        کافی است گام اول را بردارید،جهت پیشبرد اهدافتان ما در کنار شما هستیم.
                                        </p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-12">
				<div class="p-1 mb-4">
					<div class="container-fluid py-5">
						<div class="row align-items-center">
							<div class="col-sm-12 col-md-3 mb-3 text-center">
								<img src="{{asset('img/viewMobile.png')}}" class="img-fluid" alt="نرم افزار حسابداری حسابیکس"/>
							</div>
							<div class="col-sm-12 col-md-9 mb-3">
								<h2 class="text-primary">شروعی سریع و ساده با حسابیکس</h2>
								<ul class="">
									<li class="my-3">
										ابتدا در حسابیکس عضو شوید و پنل کسب و کار خود را به سادگی بسازید، توجه داشته باشید هر تعداد کسب‌و‌کار که داشته باشید می توانید از طریق یک داشبورد واحد آن‌ها مدیریت کنید
									</li>
									<li class="my-3">
										اطلاعات کسب و کار خود را وارد کنید و تنظیمات اولیه  را انجام دهید،حسابیکس آماده و در اختیار شماست . در صورتی که سوالی درباره حسابیکس داشتید می‌توانید تیکت پشتیبانی ارسال کنید
									</li>
									<li class="my-3">
										از حسابیکس  بر روی موبایل، تبلت و کامپیوتر لذت ببرید تنها کافی است که یک اتصال اینترنت داشته باشید،حسابیکس در هر نقطه‌ای از جهان در دسترس شما خواهد بود
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
