{% extends 'base.html.twig' %}
{% block title %}نرم افزار حسابداری آنلاین،متن‌باز و کاملا رایگان{% endblock %}

{% block body %}
<h1>وب سایت حسابیکس در حال به روز رسانی است . همچنان میتوانید از طریق لینک زیر وارد نرم افزار شوید.</h1>
<a target="_blank" href="https://app.hesabix.ir">ورود به حسابیکس</a>
{% endblock %}