{% extends 'base.html.twig' %}

{% block title %}حسابیکس
{% endblock %}

{% block body %}
	<!-- HERO
				============================================= -->
	<section class="bg--fixed hero-section division" id="hero-1">
		<div class="container">
			<div
				class="row d-flex align-items-center">
				<!-- HERO TEXT -->
				<div class="col-md-6">
					<div
						class="hero-1-txt color--white wow animate__animated animate__fadeInRight">
						<!-- Title -->
						<h2>
							عکسهایی را که بهترین خاطرات شما را ضبط می کنند به اشتراک
							                      بگذارید
						</h2>
						<!-- Text -->
						<p class="p-lg">
							لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روز
						</p>
						<!-- STORE BADGES -->
						<div
							class="stores-badge badge-img-md">
							<!-- AppStore -->
							<a class="store" href="#">
								<img alt="appstore-badge" class="appstore" src="images/store_badges/appstore.png"/>
							</a>
							<!-- Google Play -->
							<a class="store" href="#">
								<img alt="googleplay-badge" class="googleplay" src="images/store_badges/googleplay.png"/>
							</a>
						</div>
						<!-- END STORE BADGES -->
						<!-- OS Prerequisite -->
						<div class="os-version-ext">
							<div class="star-rating clearfix ico-10">
								<span class="flaticon-star color--yellow"></span>
								<span class="flaticon-star color--yellow"></span>
								<span class="flaticon-star color--yellow"></span>
								<span class="flaticon-star color--yellow"></span>
								<span class="flaticon-star-half-empty color--yellow"></span>
								<small>4،78K+ بررسی کاربران Pintex.</small>
							</div>
						</div>
					</div>
				</div>
				<!-- END HERO TEXT -->
				<!-- HERO IMAGE -->
				<div class="col-md-6">
					<div class="hero-1-img wow animate__animated animate__fadeInLeft">
						<img alt="hero-image" class="img-fluid" src="images/hero-1-img.png"/>
					</div>
				</div>
			</div>
			<!-- End row -->
		</div>
		<!-- End container -->
	</section>
	<!-- END HERO -->
{% endblock %}
